NODE_ENV=production
PORT=
MONGO_URI=
MONGO_URL=
MONGODB_DB_NAME=
JWT_SECRET=
JWT_EXPIRES_IN=
CORS_ORIGIN=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
CLIENT_APP_URL=
REACT_APP_API_URL=
REACT_APP_PUBLIC_CLIENT_URL=
