NODE_ENV=production
PORT=
MONGO_URI=
MONGO_URL=
MONGODB_URI=
MONGODB_DB_NAME=
JWT_SECRET=
JWT_EXPIRES_IN=
CORS_ORIGIN=
EMAIL_PROVIDER=resend
RESEND_API_KEY=
EMAIL_FROM=
EMAIL_USER=
EMAIL_PASS=
ADMIN_SEED_EMAIL=
ADMIN_SEED_PASSWORD=
ADMIN_SEED_NAME=
ADMIN_SEED_PHONE=
CLIENT_APP_URL=
REACT_APP_API_URL=
REACT_APP_PUBLIC_CLIENT_URL=
